@model PaniersTotal
@{
    ViewData["Title"] = "PanierList";
}

<!-- slider Area Start-->
<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="img/hero/category.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Card List</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->
<!--================Cart Area =================-->
<section class="cart_area section_padding">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var panier in Model.paniers)
                        {
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="@panier.Produit.ImageUrl" alt="" />
                                    </div>
                                    <div class="media-body">
                                        <p>@panier.Produit.Name</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>@panier.Produit.Prix €</h5>
                            </td>
                            <td>
                                <form asp-route-idPanier="@panier.Id" asp-area="" asp-controller="Panier" asp-action="UpdateCart" method="post">
                                    <div class="cupon_text float-md-left">
                                        <div class="product_count d-inline-block">
                                            <input class="input-number" id="quantite" name="quantite" type="number" value="@panier.Quantite" min="0" max="@panier.Produit.Stock">
                                        </div>
                                        <div class="add_to_cart">
                                            <input type="submit" value="Update Quantity" class="btn btn-default" />
                                        </div>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <h5>@panier.totalPrix €</h5>
                            </td>
                        </tr>
                        }
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <h5>Total</h5>
                        </td>
                        <td>
                            <h5>@Model.totalPaniers €</h5>
                        </td>
                    </tr>
                    <tr class="bottom_button">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="cupon_text float-right">
                                <a class="btn_1 checkout_btn_1" asp-area="" asp-controller="Produit" asp-action="Index">Continue Shopping</a>
                                <a class="btn_1 checkout_btn_1" asp-area="" asp-controller="Panier" asp-action="Checkout">Proceed to Checkout</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->
